<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card><br>
    <div style="display: flex; align-items: center; justify-content: center;">
      <ion-avatar >
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" width="100%" />
     </ion-avatar>
    </div>
    <ion-list [inset]="true">
      <ion-item>
        <ion-input label="First Name:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Last Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle>
          <ion-label>Allow Notifications</ion-label>
          <ion-note color="medium">Unsubscribe at any time</ion-note>
        </ion-toggle>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-tabs>
  <ion-button fill="clear" style="color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Cerrar sesion</ion-button>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="home"></ion-icon>Home
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="help"></ion-icon>Ayuda
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

